.logoimg{
  cursor: pointer;
  float: left ;
  margin: 7px;
  width:60px
  
}

.websiteName{
    float: left ;
    font-family: Nunito,sans-serif;
    cursor: pointer;     
    font-size: 17px;
    display: inline-block;
    margin: 14px 0px;
    color: #000;
}

.closeuser,.closeuser>a{
    display:none;
}
.openuser{
    cursor: pointer;
}
.openuser:hover .closeuser>a {
    display: block;
}       
.openuser:hover .closeuser{
    display:flex;
    align-items: center;
    justify-content: center;
}

.blk{
    color: #000;
}
.navmajors{
    display: inline-block;
    padding:5px;
}

.navlogout{
    background-color: #fff;
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:100%
}

@media (min-width: 1px) and (max-width: 850px){
    .websiteName{
        display: none;
    }

    .navhide{
        display: none;
    }
}
